@charset "utf-8";

@font-face {
    font-family: "Courgette";
    src: url(/fonts/Courgette-Regular.ttf) format("truetype")
}
$family-secondary: "Courgette";

$primary: hsla(150, 71%, 52%, 0.52);
$info: hsla(150, 78%, 52%, 0.52);
$hero-body-padding: 1rem 1rem;

@import "../node_modules/bulma/bulma.sass";