@charset "utf-8";

@font-face {
    font-family: "Courgette";
    src: url(/fonts/Courgette-Regular.ttf) format("truetype")
}
$family-secondary: "Courgette";

$primary: hsla(116, 34%, 47%, 1);
$light: hsla(150, 78%, 52%, 0.52);
$info: rgba(34, 139, 34, 0.52);
$hero-body-padding: 1rem 1rem;

.justified-content {
    text-align: justify;
}

.centered-content {
    text-align: center;
}

.collapsible-content {
    transition: max-height 1s ease-out 0s;
    overflow: hidden;
}

.accueil-section {
    background-size: cover;
    min-height: 700px;
}

div#preload {
    display: none;
}

$icon-dimensions-large: 7rem;

@import "../node_modules/bulma/bulma.sass";